/* ######################################### */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(240, 240, 240);
}
nav {
  padding: 18px;
}
#header {
  background-color: rgb(76, 89, 146);
   
}
h1 {
  margin-left: 10%;
  font-size: 48px;

  color: white;
  font-family: sans-serif;
}
.btn {
  display: flex;
  margin-left: 75%;
  margin-top: -52px;
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  padding: 5px 25px;
  cursor: pointer;
  background-color: rgb(109, 109, 182);
}
/* #################################################### */
.container h1 {
  font-family: sans-serif;
  margin-top: 50px;
  margin-left: 35%;
  color: rgb(51, 49, 49);
  font-size: 50px;
}
.container h2 {
  margin-left: 35%;
  font-family: sans-serif;
  color: rgb(51, 49, 49);
}
.validation {
  margin-left: 35%;
  padding-top: 20px;
}
.form-control0,
.form-control1 {
  padding: 2px 322px 13px 6px;
  font-size: 20px;
  border-radius: 7px;
}

.form-control2,
.form-control3 {
  padding: 2px 322px 13px 6px;
  font-size: 20px;
  border-radius: 7px;
}

.btn-primary {
  background-color: rgb(39, 131, 39);
  font-size: 20px;
  font-weight: bolder;
  padding: 16px 90px;
  border-radius: 7px;
  color: white;
  margin-top: 37px;
  margin-bottom: 50px;
  box-shadow: 2px 4px 11px -1px black;
  cursor: pointer;
}
.btn-primary:hover {
  color: rgb(233, 221, 221);
  /* ################################################## */
}
.brith h3 {
  color: rgb(121, 115, 115);
  font-size: 25px;
  font-family: sans-serif;
  margin-bottom: 8px;
}
.time {
  padding: 9px;
}
.gender h3 {
  color: rgb(121, 115, 115);
  font-size: 25px;
  font-family: sans-serif;
  margin-bottom: 8px;
}
.sex {
  font-size: 25px;
   
  padding: 0px 19px 0px 0px;
  font-family: sans-serif;
  color: rgb(20, 20, 20);
}
p._para {
  display: inline;
}
#terms-link {
  text-decoration: none;
}

.ff {
  background-color: white;
   
  overflow: hidden;
}
.ff p {
  display: black;
  padding: 20px 0 25px 0;
}

.hr {
  margin: -1% 15% -1% 15%;
  color: rgb(109, 152, 192);
}
.ff a {
  text-decoration: none;
  text-align: center;
  margin-left: 25%;
  margin-right: -25%;
  color: rgb(109, 152, 192);
  padding: 10px;
}
/* ################################################ */
.copyright {
  display: block;
  margin-left: 25%;
  color: rgb(144, 149, 150);
}
/* ###################################################### */
